<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--<script src="jquery-1.10.2.min.js"></script>-->
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/maps/modules/map.js"></script>

    <link href="css/plugins/timeline.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="jqueryCalendar.css">

    <!--<script src="senddata.js"></script>-->
    <script src="tweetcountlive.js"></script>
    <script src="sentimentlive.js"></script>

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="autocomplete.js"></script>

</head>
<body>

<div id="live">
<div class="column" style=" width:60%;float: left; margin-left: 1%">
    <div id="world" style="width:100%;float:left;margin-top: 5%" class="col-lg-8">
        <div style="" class="panel panel-default">

            <div id="container2"  style="position:relative;height:300px;margin-top:5%;width:100%;margin-left: 0%">
            </div>
            <div class="pull-right">

            </div>

        </div>
    </div>

    <div id="world123456" style="width:100%;float:right;margin-top: 5%" class="col-lg-8">
        <div  class="panel panel-default">



            <div id="container3"  style="position:relative;height:300px;margin-top:5%;width:100%;margin-left: 0%">
            </div>
            <div class="pull-right">


            </div>


        </div>
    </div>
</div>
    <div class="column" style=" width:35%;float: right">

        <div id="world12" style="margin-top:10%;height:600px;width:95%" class="col-lg-8">
            <div style="" class="panel panel-default">

                <div  class="col-md-12">
                    <div  class="panel panel-primary">
                        <div style="background-image: url(images/twitter.png);float: left; width: 50px;height: 40px">

                        </div>
                        <div class="panel-heading">

                            <h3 class="panel-title"> Tweets Live</h3>
                        </div>
                        <div class="panel-body feed">
                            <ul id="newsTicker" class="newsTicker list-group">
                                <li class="list-group-item" id="ab" style="height: 120px"></li>
                                <li class="list-group-item" id="bc" style="height: 120px"></li>
                                <li class="list-group-item" id="cd" style="height: 120px"></li>
                                <li class="list-group-item" id="de" style="height: 120px"></li>
                                <li class="list-group-item" id="ef" style="height: 120px"></li>
                            </ul>
                        </div>


                        <div class="pull-right">


                        </div>
                    </div>

                </div>
            </div>
        </div>

</div>
    </div>

</body>
</html>